<button class="btn btn-primary" onclick="ignoredWords.showModal()">
    Ignored Words
</button>
<dialog id="ignoredWords" class="modal">
    <div class="modal-box grid grid-cols-2 gap-4">
        <div class="modal-action contents ">
            <form method="dialog" class="contents">
                <div class="contents" hx-trigger="click from:#submit-ignored-words" hx-post="/ignored_words"
                    hx-ext="form-json" hx-swap="none">

                    {% for word in ignored_words %}
                    <div class="contents">
                        <input class="text-center" type="text" name="words[]"
                            value="{{word}}" placeholder="Ignored word">

                        <input type="button" class="btn btn-error" value="delete" _="on click remove closest parent <div/>">
                    </div>
                    {% endfor %}
                    <input type="button" class="btn btn-primary col-span-2" value="Add Row"
                    hx-get="/ignored_words_row"
                    hx-swap="beforebegin" />
                    <input id="submit-ignored-words" class="btn btn-primary col-span-2" type="submit"
                        value="save" />
                </div>
            </form>
        </div>
    </div>
</dialog>
