<button class="btn btn-primary" onclick="wordReplace.showModal()">
    Replace Words
</button>
<dialog id="wordReplace" class="modal">
    <div class="modal-box grid grid-cols-3 gap-4">
        <div class="modal-action contents ">
            <form method="dialog" class="contents">
                <div class="contents" hx-trigger="click from:#submit-replace_word" hx-post="/replace_words"
                    hx-ext="form-json" hx-swap="none">

                    {% for word, replacement in replace_words.items() %}
                    <div class="contents">
                        <input class="text-center" type="text" value="{{word}}" placeholder="Word" hx-inclue="">
                        <input class="hidden" name="{{word}}" value="{{replacement}}"
                            _="on change from previous <input/> set my.name to its.value end on change from next <input/> set my.value to its.value end" />

                            <input class="text-center" type="text" value="{{replacement}}" placeholder="Replacement" hx-inclue="">

                        <input type="button" class="btn btn-error" value="delete"
                            _="on click remove closest parent <div/>">
                    </div>
                    {% endfor %}

                    <input type="button" class="btn btn-primary col-span-3" value="Add Row" hx-get="/word_replace_row"
                        hx-swap="beforebegin" />


                    <input id="submit-replace_word" class="btn btn-primary col-span-3" type="submit" value="save" />
                </div>

            </form>
        </div>
    </div>
</dialog>