
<div class="contents">
    <input class="text-center" type="text" value="" placeholder="Word" hx-inclue="">
    <input class="hidden" name="" value=""
        _="on change from previous <input/> set my.name to its.value end on change from next <input/> set my.value to its.value end" />

        <input class="text-center" type="text" value="{{replacement}}" placeholder="Replacement" hx-inclue="">

    <input type="button" class="btn btn-error" value="delete"
        _="on click remove closest parent <div/>">
</div>