<button class="btn btn-primary" onclick="allowedUsers.showModal()">
    Allowed Users
</button>
<dialog id="allowedUsers" class="modal">
    <div class="modal-box grid grid-cols-3 gap-4">
        <div class="modal-action contents ">
            <form method="dialog" class="contents">
                <div class="contents" hx-trigger="click from:#submit-allowed-users" hx-post="/allowed_users"
                    hx-ext="form-json" hx-swap="none">

                    {% for user in allowed_users %}
                    <div class="contents">
                        <input class="text-center" type="text" name="users[{{loop.index-1}}][username]"
                            value="{{user['username']}}" placeholder="Allowed User">
                        <select class="select capitalize" name="users[{{loop.index-1}}][voice]">
                            <option>default</option>
                            {% for voice in voices.keys()%}
                            <option {% if user["voice"]==voice %} selected {% endif %}>{{voice}}</option>
                            {% endfor %}
                        </select>
                        <input type="button" class="btn btn-error" value="delete" _="on click remove closest parent <div/>">
                    </div>
                    {% endfor %}

                    <input type="button" class="btn btn-primary col-span-3" value="Add Row"
                        onclick="countAllowedUsers.value++" hx-get="/allowed_user_row" hx-include="[name='_id']"
                        hx-swap="beforebegin" />
                    <!-- hidden element that holds the number of allowed user rows because sending lists is really annoying apparently -->
                    <input id="countAllowedUsers" class="hidden" type="number" name="_id" min="{{allowed_users|length}}"
                        value="{{allowed_users|length}}" />

                    <input id="submit-allowed-users" class="btn btn-primary col-span-3" type="submit" hx-params="not ['#countAllowedUsers']"
                        value="save" />
                </div>
            </form>
        </div>
    </div>
</dialog>