<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Twitch TTS Bot</title>

    <script src="{{ url_for('static', path='/scripts/htmx.js') }}"></script>
    <script src="{{ url_for('static', path='/scripts/htmx_json_enc.js') }}"></script>
    <script src="{{ url_for('static', path='/scripts/htmx_ext_form_json.js') }}"></script>
    <script src="{{ url_for('static', path='/scripts/hyperscript.js') }}"></script>


    <link href="{{ url_for('static', path='/output.css') }}" rel="stylesheet">

</head>

<body>
    <main class="flex justify-center h-screen">
        <input id="open" type="checkbox" class="hidden peer">
        <div class="peer-checked:hidden grid grid-cols-1 w-1/2 gap-4 m-auto">
            <!-- Play TTS -->
            {% include 'play_settings.html' %}
            <!-- SETTINGS -->
            {% include 'settings.html' %}

            <!-- ALLOWED USERS -->
            {% include 'users/allowed_user.html' %}

            <!-- IGNORED USERS -->
            {% include 'users/ignored_user.html' %}



            <!-- IGNORE WORDS -->
            {% include 'filters/ignore_words.html' %}

            <!-- REPLACE WORDS -->
            {% include 'filters/replace_words.html' %}

            <!-- REGEX FILTER -->
            {% include 'filters/regex_filter.html' %}
            <input type="button" class="mt-4 btn btn-primary" hx-post="/quit" hx-ext='json-enc' hx-swap="none" value="Quit" _="on click set #open.checked to true"/>

        </div>
        <div id="Close" class="hidden peer-checked:block justify-center m-auto">
            Close this window
        </div>
    </main>

</body>

</html>