<button class="btn btn-primary" onclick="allowedUsers.showModal()">
    Allowed Users
</button>
<dialog id="allowedUsers" class="modal">
    <div class="modal-box grid grid-cols-3 gap-4">
        <div class="modal-action contents ">
            <form method="dialog" class="contents">
                <div class="contents" hx-trigger="click from:#submit-allowed-users" hx-post="/allowed_users"
                    hx-ext="form-json" hx-swap="none">

                    {% for user, set_voice in allowed_users.items() %}
                    <div class="contents">
                        <input class="text-center" type="text" value="{{user}}" placeholder="Allowed User" hx-inclue="">
                        <select class="select capitalize">
                            <option>default</option>
                            {% for voice in voices.keys()%}
                            {% set v = voice.split("|") %}
                            <option {% if set_voice==voice %} selected {% endif %} label="{{v[1]}} ({{v[0]}})" value="{{voice}}">{{voice}}</option>
                            {% endfor %}
                        </select>
                        <input class="hidden" name="{{user}}" value="{{set_voice}}"
                            _="on change from previous <input/> set my.name to its.value end on change from previous <select/> set my.value to its.value end" />

                        <input type="button" class="btn btn-error" value="delete"
                            _="on click remove closest parent <div/>">
                    </div>
                    {% endfor %}

                    <input type="button" class="btn btn-primary col-span-3" value="Add Row" hx-get="/allowed_user_row"
                        hx-swap="beforebegin" />


                    <input id="submit-allowed-users" class="btn btn-primary col-span-3" type="submit" value="save" />
                </div>

            </form>
        </div>
    </div>
</dialog>