<div class="contents">
    <input class="name-change text-center" type="text" placeholder="Allowed User">
    <select class="select capitalize" _="on change from .name-change set my.name to its.value">
        <option>default</option>
        {% for voice in voices.keys()%}
        <option>{{voice}}</option>
        {% endfor %}
    </select>
    <input type="checkbox" class="hidden" value="false" checked 
        _="on change from next <input/> set me.checked to not it.checked end
           on change from previous .name-change set my.name to its.value end
        "
    />
    <input type="checkbox" class="toggle toggle-primary" value="true"
        _="on change from previous .name-change set my.name to its.value end" 
    />
    <input type="button" class="btn btn-error" value="delete" _="on click remove closest parent <div/>">
</div>